
/* Mobile*/
@media (min-width: 300px) {
    // LOGIN
    .container{
        h1{
            font-size: 60px;
        }
        .login-container{
            width: 100%;
        }
        .animations img{
            width: 100px;
        }
    }

    // Index
    #products{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .product-item{
        width: 100%;
    }
    


}
  /* Tablet*/
  @media (min-width: 768px) {
    // LOGIN
    .container{
        .login-container{
            width: 50%;
        }
    }
    

  }
  /* Desktop*/
  @media (min-width: 1024px) {
    // LOGIN
    .container{
        .login-container{
            width: 40%;
        }
    }

    #products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        .product-item{
            width:350px;
            height: 150px;
        }
    }



  }