
@import url('https://fonts.googleapis.com/css2?family=Handjet&display=swap');

$main-font-color: #663399;
// Login
$background-login-color: #1e1e1e;
$main-font: 'Handjet', Courier, monospace;

//Index
$background-index-color: #1e1e1e;